# A predictive approach to estimate the maximum voluntary activation of the shoulder muscles

Romain Martinez<sup>*1</sup>, Mickael Begon<sup>1</sup>, Degrave Valentin<sup>1</sup> and Fabien Dal Maso<sup>1</sup>

<sup>1</sup>School of Kinesiology and Exercise Science, Faculty of Medicine, University of Montreal

[GitHub repo](https://github.com/romainmartinez/mvc)

In [1]:
from pathlib import Path

import pandas as pd

from mvc.constants import DATA_DIR, MUSCLES

In [2]:
%load_ext lab_black
%load_ext autoreload
%autoreload 2

# Part 1: Getting the data

We start this notebook with data in matlab format, where each file corresponds to different experiments.

Each file contains a 3-dimensional matrix where the first dimension corresponds to the _participant_, the second to the _tested muscle_ and the third to the _test performed_.

the [`from_matlab_to_pandas`](./mvc/fileio.py) function read those data and transform it in a pandas dataframe

![Maximum voluntary isometric contraction tests performed.](./fig/positions.svg)

In [3]:
tidy = pd.read_csv(DATA_DIR / "df_tidy.csv")
tidy.head()

  dataset      muscle       mvc  participant  test
0  Violon  low. trap.  0.000064            0     2
1  Violon  low. trap.  0.000012            0     3
2  Violon  low. trap.  0.000007            0     4
3  Violon  low. trap.  0.000051            0     5
4  Violon  low. trap.  0.000006            0     8

In [4]:
wide = pd.read_csv(DATA_DIR / "df_wide.csv")
wide.head()

,dataset,participant,muscle,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,Landry2012,0,ant. delt.,0.014781,0.086364,0.131629,0.288634,0.246794,0.010781,0.012243,0.037604,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Landry2012,0,lat. dors.,0.004435,0.084848,0.023249,0.029152,0.026014,0.175020,0.159430,0.073181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Landry2012,0,low. trap.,0.028221,0.262372,0.368373,0.204782,0.223872,0.088078,0.155580,0.023181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Landry2012,0,mid. delt.,0.033599,0.162023,0.203264,0.101732,0.137856,0.046701,0.011675,0.013535,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Landry2012,0,mid. trap.,0.011623,0.168136,0.167971,0.048573,0.071008,0.059346,0.045069,0.018796,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN